<h1>Category- <%=@category.id%></h1>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Articles:</strong>
</p>
<% @category.articles.each do |post| %>
    
        <li><%= link_to post.title , article_path(post.id) if post.id %></li>
        
    <% end %>