<h1>Artcle-Category <%=@article_category.id%></h1>
<p>
  <strong>Article-Id:</strong>
  <%= @article_category.article.title %>
</p>
<p>
  <strong>Category-Id:</strong>
  <%= @article_category.category.name %>
</p>
